---
name: Deploy to Cloud Run
on:
    push:
        branches:
            - main

jobs:
    deploy:
        permissions:
            contents: read
            id-token: write

        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Cloud SDK
              id: gcloud-auth
              uses: google-github-actions/auth@v3
              with:
                credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

            - name: Setup Google Cloud SDK
              uses: google-github-actions/setup-gcloud@v3
              with:
                    project_id: ${{ secrets.GCP_PROJECT_ID }}
                    version: '> 363.0.0'


            - name: Build Image - Using gcloud CLI and submit to Container Registry
              run: |
                gcloud info
                gcloud builds submit --tag gcr.io/${{ secrets.GCP_PROJECT_ID }}/flaskapp-cloudrun:${{ github.sha }} --async --project=${{ secrets.GCP_PROJECT_ID }} .
                sleep 45  # Wait for a bit to ensure the build starts

            - name: Deploy to Cloud Run
              uses: google-github-actions/deploy-cloudrun@v3
              with:
                service: flaskapp-cloudrun
                image: gcr.io/${{ secrets.GCP_PROJECT_ID }}/flaskapp-cloudrun:${{ github.sha }}
                region: us-central1

            - name: Allow unauthenticated invocations
              run: |
                gcloud run services update flaskapp-cloudrun --no-invoker-iam-check --region us-central1 --project=${{ secrets.GCP_PROJECT_ID }}