---
name: Deploy to Cloud Run
on:
    push:
        branches:
            - main

jobs:
    deploy:
        permissions:
            contents: read
            id-token: write

        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Cloud SDK
              uses: google-github-actions/auth@v3
              with:
                credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

            - name: Setup Google Cloud SDK
              uses: google-github-actions/setup-gcloud@v3

            - name: Build Image - Using gcloud CLI and submit to Container Registry
              run: |
                gcloud builds submit --tag gcr.io/${{ secrets.GCP_PROJECT_ID }}/flaskapp-cloudrun:${{ github.sha }} --suppress-logs .

            - name: Deploy to Cloud Run
              uses: google-github-actions/deploy-cloudrun@v3
              with:
                service: flaskapp-cloudrun
                image: gcr.io/${{ secrets.GCP_PROJECT_ID }}/flaskapp-cloudrun:${{ github.sha }}
                region: us-central1

            - name: Allow unauthenticated invocations
              run: |
                gcloud run services update flaskapp-cloudrun --no-invoker-iam-check